{
	# worker mode Caddyfile

	frankenphp {
		max_threads auto
		num_threads 2
		worker {
			file "/app/public/frankenphp-worker.php"
			num 1
			watch
		}
		php_ini mysqlnd.collect_statistics Off
	}
}

:80 {
	route {
		encode zstd br gzip

		@assets {
			path /assets/*
		}

		file_server @assets {
			root /app/public
		}

		# everything that is not in /assets is handled by your index or worker PHP file
		rewrite frankenphp-worker.php
		php {
			root /app/public
		}
	}
}
